<% @categories_list.each do |list| %>
  <ul class="category-list no-bullet">
    <% list.each do |item| %>
      <li>
        <a href="#" class="category-link"><%= item.name %></a>
      </li>
    <% end %>
  </ul>
<% end %>